/* 全体の反映 */
.wrap {
	overflow: hidden;
}

.nav-unshown {
  display: none;
}

.main_contents {
  width:100%;
}

.small_box {
  display: flex;
  flex-direction: row;
}

#nav-drawer {
  display:none;
}

/* タブレット */
@media (max-width: 1000px) {
  main {
    padding: 0;
  }

  .main_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .small_box {
    display: flex;
    flex-direction: row;
  }

  .small_box a {
    width: 44%;
  }

  .recent_post, .category, .tag, .search, .recommend {
    padding: 12px;
  }

  .list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .listA {
    width: 100%;
  }

  .listitem1 {
    text-align: center;
  }

  .listitem2, .listitem3 {
    margin-bottom: 16px;
  }

  .listitem2 .container {
    text-align: left;
  }

  .listitem2 h5, .listitem3 h5, .listitem4 h5, .listC h5 {
    border-left:none;
    border-bottom: solid 3px greenyellow;
    padding-bottom:12px;
    margin-right: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    text-align: left;
    box-sizing:border-box;
  }

  .listB {
    display: flex;
    flex-direction: column;
    width:100%;
    text-align: left;
    margin-bottom: 48px;
  }

  .listitem3, .listitem4 {
    width: 100%;
    font-size: 16px;
  }

  .listitem3 {
    margin-bottom: 48px;
  }

  .listitem3 a {
    border-bottom: 1px solid white;
    padding: 16px 0;
    margin-right: 16px;
  }

  .listitem3 span, .listitem4 span {
    background-color: white;
    color: black;
    height: 40px;
    width: 48px;
    border-radius: 50%;
    line-height: center;
    padding: 0px 4px;
    margin-right:16px;
    font-size: 4px;
  }

  .listC {
    display: flex;
    flex-direction: column;
    width:100%;
  }
}

/* スマフォ対応 */
@media (max-width: 670px) {
  header {
    height: 100%;
  }

  header h1 {
    padding:40px, 0;
    text-align: center;
  }

  .small_box {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  .small_box a {
    width: 42%;
    margin-left: 8px;
    margin-right: 0;
  }

  .list {
    padding: 8px;
  }

  .thumbnail2 span {
    font-size: 12px;
  }

  .thumbnail2 a {
    padding: 16px 16px 0 16px;
  }

  .boxLink h6 {
    font-size: 8px;
  }

  /* ハンバーガーメニュー */
  .headerContainer {
    position: relative;
  }

  #nav-drawer {
    display: block;
    position: absolute;
    top: -32px;
    right: 8px;
  }

  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 24px;
    vertical-align: middle;
  }

  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #030818;
    display: block;
    content: '';
    cursor: pointer;
  }

  #nav-open span:before {
    bottom: -8px;
  }

  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .5s ease-in-out;
  }

  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 100%;/*最大幅（調整してください）*/
    height: 100%;
    background:white;/*背景色*/
    transition: .5s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);/*上に隠しておく*/
    text-align: left;
  }

  #nav-content h1 {
    padding: 24px;
  }

  .headerLink {
    display: flex;
    flex-direction: column;
    padding-left: 88px;
    float: left;
    align-items: flex-start;
  }

  .headerLink a::after {
    position: absolute;
    bottom: -8px;
    left: 0;
  }

  .navTitle a {
    font-size: 24px;
    padding: 16px;
    text-align: left;
  }

  .headerLink a:hover::after {
    bottom: 0;
    opacity: 0;
    visibility: none;
  }

  .headerLink li {
    list-style-type: none; /*点を非表示*/
    position: relative; /*基準位置*/
    padding-left: 0.6em;
    text-align: left;
  }

  .headerLink li:before {
    border-radius: 50%; /*丸くする*/
    width:16px; /*点の幅*/
    height: 16px; /*点の高さ*/
    display: block;
    position: absolute; /*絶対配置*/
    left: 0; /*点の位置*/
    top: 1em; /*点の位置*/
    content: "";
    background: lime; /*点の色*/
  }

  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .2;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);/*中身を表示（左へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
/* ハンバーガーメニュー終わり */
}
